.header {
  height: var(--header-height);
  /* background-image: linear-gradient(0, #f6d87b, #ebc060); */
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px 0 0 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}
.header__navbar-user {
  display: flex;
  justify-items: center;
}
.header__navbar-user img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  position: absolute;
  padding-left: 0;
  top: 100%;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 132px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}
.header__navbar-user-menu::before {
  content: "";
  border-width: 8px 12px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 50px;
  top: -16px;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 16px;
  display: block;
}
.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #999;
}
.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--black-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 500;
}

.header__navbar-item--seperate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solod #000000;
  height: 12px;
  top: 0;
  right: -8;
  top: 30%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--black-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--black-color);
}

.header__navbar--searchbox {
  border: 0;
  border-bottom: 1px solid var(--black-color);
  margin: 0;
  padding: 0.8rem;
  color: var(--black-color);
  width: 90px;
  height: 2.7rem;
  font-size: 1.3rem;
  background-color: var(--primary-color);
  outline: none;
}
/* Modal Authen */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 8px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}
.auth-form__aside {
  margin-top: 20px;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
}
.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 6px;
}
.auth-form__controls {
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 10px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}
.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 32px;
}
.auth-form__socials--google {
  background-color: var(--white-color);
  color: var(#666);
}

/* Login */
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}
.auth-form__separate {
  display: block;
  border-left: 1px solid var(--border-color);
  height: 22px;
  margin: 0 16px;
  display: flex;
  justify-content: center;
  /* margin-bottom: 4px; */
}

.auth-form__help-forgot {
  color: var(--primary-color);
}
/* Logo */
.header__logo {
  height: var(--header-with-logo-height);
}

.header-with-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  width: 200px;
}

/* List Dropdown */
.header-with-dropdown {
  margin: 0;
}

.header__dropdown-list--list {
  display: flex;
  justify-content: space-evenly;
}

.header__dropdown-item {
  list-style: none;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.header__dropdown-item:hover {
  border-bottom: 1px solid var(--black-color);
}
.header__dropdown--info {
  display: none;
  width: 100%;
  height: 508px;
  background-color: #888;
  position: absolute;
  left: 0;
}

.header__dropdown-item:hover .header__dropdown--info {
  margin-top: 10px;
  display: block;
  animation: fadeIn ease-in 0.1s;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
